# Ignore screenshot and PDF presentation
Screenshot 2026-06-15 at 5.36.27 in the afternoon.png
ASL_Sign_Language_Classification_Enhanced (2).ipynb
ASL Hand-Sign Classification_ An End-to-End Machine Learning Pipeline.pdf

# macOS
.DS_Store
~$*
